<?xml version="1.0"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="Istra">
      <section name="XsltSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	  <section name="DataSources" type="Istra.DataSourcesConfigHandler,Istra"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true"/>
    <httpRuntime/>
  </system.web>
  <Istra>
	<DataSources>
		<source type="Istra.XmlFileDataSource,Istra" cachedFile="menu.xml" fileName="toc.xml" xsltName="menu.xslt"/>
	</DataSources>
    <XsltSettings>
      <add key="rootDir" value="C:\Users\Alexandr.Akimov\Documents\Visual Studio 2012\Projects\istraview\istraview"/>
      <add key="contentDir" value="content"/>
      <add key="cacheDir" value="cache"/>
      <add key="xsltDir" value="istra\xslt"/>
      <add key="jsFolder" value="/js"/>
      <add key="cssFolder" value="/"/>
      <add key="cacheTime" value="30"/>
      <add key="defaultPage" value="about"/>
    </XsltSettings>
  </Istra>
</configuration>