body{
	font-family: Verdana, Arial, Sans-Serif;
	margin: 0px;
}

h2,h3,h4,h5,h6{
	background-color:#444;
	color:#fff;
	padding:5px;
}

h1{padding-left:0px;}
h2{padding:10px 0 10px 5px; margin:0 0 10px 0;}
h3{padding-left:40px;}
h4{padding-left:80px;}
h5{padding-left:100px;}
h6{padding-left:120px;}

#menuPnl{
	/*border-right: 1px solid #eee;*/
}

#menuPnl li a.current{
	background-color:#ffc;
}

div.attention{
	margin:5px;
	margin-left:15px;
	padding-left:5px;
	border-left:8px solid red;
}

div.comment{
	font-style:italic;
	background-color:#eee;
	padding:5px;
	margin:15px;
}

span.selected{
	font-weight: bold;
	font-style:italic;
}

.todo{
	background-color:#ff0;
	color:#f00;
	font-weight:bold;
	padding:3px;
}
.debugInfo{
	color:#f00;
	background-color:#ff0;
}

.leftMenu{
	float:left;
	border-right:1px solid #ccc;
}
.mainPanel{
	border-left:1px solid #ccc;
}
header{
	background-color:#eef;
	color:#008;
	border-bottom:1px solid #ccc;
	margin: 0px;
	padding:25px;
}
footer{
	text-align:center; 
	border-top:1px solid #ccc; 
	padding:10px;
}

.file{
	font-family: Courier New, Monospace;
}
.code{
	font-family: Courier New, Monospace;
}

.menuName{font-style:italic;}
.menuName::before{content:'"'}
.menuName::after{content:'"'}

.buttonName{font-style:italic;}
.buttonName::before{content:'['}
.buttonName::after{content:']'}

.keyName{font-style:italic;}
.keyName::before{content:'<'}
.keyName::after{content:'>'}

.menuSection{
	cursor:pointer;
}